<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/mypage/following.css">
    <script charset="UTF-8" src="../../static/js/mypage/follow.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <title>Document</title>
</head>
<body>
<div>
    <form>
        <div class="card shadow-0">
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <div data-v-2ba7cd5f="" class="card-header border-bottom-0">
                <span data-v-2ba7cd5f="" class="" style="font-weight: 700;"> 정산 관리 </span>
                <!---->
            </div>
            <div data-v-2ba7cd5f="" class="">
                <div data-v-20393a82="" class="card-body">
                    <!---->
                    <!---->
                    <div data-v-20393a82="" class="px-3">
                        <div class="row my-2">
                            <div class="col-lg-2">
                                <div class="mt-3 pl-3" style="font-size: 0.9rem;"> 수수료 </div>
                            </div>
                            <div class="mt-3 pl-3 col-lg-10">
                                <div> 0 </div>
                            </div>
                        </div>
                    </div>
                    <hr data-v-20393a82="">
                    <div data-v-20393a82="" class="px-3">
                        <div class="row my-2">
                            <div class="col-lg-2">
                                <div class="mt-3 pl-3 text-wrap input-label-style" style="font-size: 0.9rem;">
                                    <!----> 입금 계좌 <!---->
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div>
                                    <div data-v-20393a82="" class="inputForm">
                                        <div data-v-20393a82="" class="el-select smallInput">
                                            <!---->
                                            <div class="el-input el-input--suffix">
                                                <!---->
                                                <input type="text" readonly="readonly" autocomplete="off" placeholder="은행" class="el-input__inner">
                                                <!---->
                                                <span class="el-input__suffix">
															<span class="el-input__suffix-inner">
																<i class="el-select__caret el-input__icon el-icon-arrow-up"/>
                                                                <!---->
                                                                <!---->
															</span>
                                                    <!---->
														</span>
                                                <!---->
                                            </div>
                                        </div>
                                        <div data-v-20393a82="" style="margin-top: 12px; margin-bottom: 12px;">
													<span data-v-307da538="" data-v-20393a82="" placeholder="예금주" class="smallInput" style="display: inline-block; vertical-align: top;">
														<fieldset data-v-307da538="" class="form-group" id="__BVID__1304">
															<!---->
															<div>
																<!---->
																<div data-v-307da538="" class="">
																	<!---->
																	<input data-v-307da538="" type="text" required="required" placeholder="예금주" class="form-control is-invalid">
                                                                    <!---->
																	</div>
                                                                <!---->
																	<div data-v-307da538="" class="invalid-feedback" style="display: block;"> 예금주를 입력해주세요 </div>
                                                                <!---->
                                                                <!---->
                                                                <!---->
																</div>
															</fieldset>
														</span>
                                            <span data-v-307da538="" data-v-20393a82="" placeholder="계좌 번호를 입력해주세요." class="bigInput" style="display: inline-block; vertical-align: top; margin-left: 12px;">
															<fieldset data-v-307da538="" class="form-group" id="__BVID__1307">
																<!---->
																<div>
																	<!---->
																	<div data-v-307da538="" class="">
																		<!---->
																		<input data-v-307da538="" type="text" required="required" placeholder="계좌 번호를 입력해주세요." class="form-control is-invalid">
                                                                        <!---->
																		</div>
                                                                    <!---->
																		<div data-v-307da538="" class="invalid-feedback" style="display: block;"> 계좌 번호를 입력해주세요. </div>
                                                                    <!---->
                                                                    <!---->
                                                                    <!---->
																	</div>
																</fieldset>
															</span>
                                        </div>
                                        <div data-v-20393a82="" class="subText1">
                                            <div data-v-20393a82=""> - 사업자 계좌의 경우 대표자명과 업체명을 입력해주세요. </div>
                                            <div data-v-20393a82="">- 공백을 포함하여 최대 10글자를 입력해주세요.</div>
                                            <div data-v-20393a82="">
                                                <div data-v-20393a82="">[작성 예시]</div> 사업자 등록증의 대표자명이 "김프립" 이고, 업체명이 "주식회사 프렌트립" 인 경우, 아래와 같이 띄어쓰기와 괄호 포함하여 정확히 10글자를 작성해주시기 바랍니다. </div>
                                            <div data-v-20393a82="">- 예금주 : 김프립(주식회사 프</div>
                                        </div>
                                        <div data-v-20393a82="" class="importantText"> 정산계좌 변경 시 다음 정산부터 변경된 계좌로 정산됩니다. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr data-v-20393a82="">
                    <div data-v-20393a82="" class="px-3">
                        <div class="row my-2">
                            <div class="col-lg-2">
                                <div class="mt-3 pl-3 text-wrap input-label-style" style="font-size: 0.9rem;">
                                    <!----> 세금계산서 발급 대상 <!---->
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div>
                                    <div data-v-20393a82="" block="" caption="" role="radiogroup" tabindex="-1" class="mb-3 bv-no-focus-ring" id="__BVID__1309">
                                        <div class="custom-control custom-control-inline custom-radio">
                                            <input type="radio" class="custom-control-input" value="INDIVIDUAL" id="__BVID__1309_BV_option_0" name="__BVID__1309">
                                            <label class="custom-control-label" for="__BVID__1309_BV_option_0">
                                                <span>개인</span>
                                            </label>
                                        </div>
                                        <div class="custom-control custom-control-inline custom-radio">
                                            <input type="radio" class="custom-control-input" value="CORPORATION" id="__BVID__1309_BV_option_1" name="__BVID__1309">
                                            <label class="custom-control-label" for="__BVID__1309_BV_option_1">
                                                <span>사업자</span>
                                            </label>
                                        </div>
                                    </div>
                                    <span data-v-307da538="" data-v-20393a82="" placeholder="성함을 입력해주세요.">
																	<fieldset data-v-307da538="" class="form-group" id="__BVID__1314">
																		<!---->
																		<div>
																			<!---->
																			<div data-v-307da538="" class="">
																				<!---->
																				<input data-v-307da538="" type="text" placeholder="성함을 입력해주세요." class="form-control" valid="true">
                                                                                <!---->
																				</div>
                                                                            <!---->
                                                                            <!---->
                                                                            <!---->
                                                                            <!---->
                                                                            <!---->
																			</div>
																		</fieldset>
																	</span>
                                    <div data-v-20393a82="" class="subText1 mt-2"> 세금 계산서 발급 대상을 입력해주세요. <br data-v-20393a82="">사업자 등록증 내 상호명(법인명)과 동일하게 입력해주세요. <br data-v-20393a82="">예 프렌트립 (Frientrip) - 한글 (영문)일 경우 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr data-v-20393a82="" class="my-4">
                    <div data-v-20393a82="" class="px-3">
                        <div class="row my-2">
                            <div class="col-lg-2">
                                <div class="mt-3 pl-3 text-wrap input-label-style" style="font-size: 0.9rem;">
                                    <!----> 신분증 <!---->
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div>
                                    <div data-v-20393a82="" style="display: inline;">
                                        <div data-v-2ba7cd5f="" data-v-5b92a558="" data-v-20393a82="" class="card shadow-0">
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                            <div data-v-2ba7cd5f="" class="">
                                                <div data-v-5b92a558="" class="container imgInputBox">
                                                    <div data-v-5b92a558="" class="img-text container">
                                                        <div data-v-5b92a558="">
                                                            <div data-v-5b92a558="" class="text-center container">
                                                                <img data-v-5b92a558="" src="/img/add.85e31315.svg" alt="" width="48">
                                                                <div data-v-5b92a558="">이미지 추가하기</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!---->
                                                    <input data-v-5b92a558="" type="file" accept="image/*">
                                                    <!---->
                                                </div>
                                                <div data-v-5b92a558="" class="container">
                                                    <!---->
                                                </div>
                                            </div>
                                            <!---->
                                            <!---->
                                            <!---->
                                        </div>
                                    </div>
                                    <div data-v-20393a82="" class="mt-2"/>
                                    <div data-v-20393a82="" class="importantText" style="color: rgb(42, 145, 253);"> 용량 2MB 이하 JPG,PNG </div>
                                    <div data-v-20393a82="" class="mt-2"/>
                                    <div data-v-20393a82="" class="importantText"> 세금계산서 발급을 위해 주민등록번호 전체를 확인할 수 있는 주민등록증 혹은 운전면허증사본을 업로드해 주세요. (여권 불가능) </div>
                                    <div data-v-2ba7cd5f="" data-v-5b92a558="" data-v-20393a82="" class="card shadow-0">
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                        <!---->
                                        <div data-v-2ba7cd5f="" class="">
                                            <div data-v-5b92a558="" class="container imgInputBox">
                                                <div data-v-5b92a558="" class="img-text container">
                                                    <div data-v-5b92a558="">
                                                        <div data-v-5b92a558="" class="text-center container">
                                                            <img data-v-5b92a558="" src="/img/add.85e31315.svg" alt="" width="48">
                                                            <div data-v-5b92a558="">이미지 추가하기</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!---->
                                                <input data-v-5b92a558="" type="file" accept="image/*">
                                                <img data-v-5b92a558="" src="" class="img-box"/>
                                                <div data-v-5b92a558="" class="container">
                                                    <!---->
                                                </div>
                                            </div>
                                            <!---->
                                            <!---->
                                            <!---->
                                        </div>
                                        <div data-v-2ba7cd5f="" data-v-5b92a558="" data-v-20393a82="" class="card shadow-0">
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                            <div data-v-2ba7cd5f="" class="">
                                                <div data-v-5b92a558="" class="container imgInputBox">
                                                    <div data-v-5b92a558="" class="img-text container">
                                                        <div data-v-5b92a558="">
                                                            <div data-v-5b92a558="" class="text-center container">
                                                                <img data-v-5b92a558="" src="/img/add.85e31315.svg" alt="" width="48">
                                                                <div data-v-5b92a558="">이미지 추가하기</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!---->
                                                    <input data-v-5b92a558="" type="file" accept="image/*">
                                                    <img data-v-5b92a558="" src="" class="img-box"/>
                                                    <div data-v-5b92a558="" class="container">
                                                        <!---->
                                                    </div>
                                                </div>
                                                <!---->
                                                <!---->
                                                <!---->
                                            </div>
                                            <hr data-v-20393a82="" class="my-5"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---->
                        <!---->
                        <!---->
                    </div>
        <div data-v-20393a82="" class="fixed-bottom bg-white p-2 px-3 text-right border-top">
            <button data-v-20393a82="" type="button" class="btn frip-button button btn-outline-frip-default btn-tab">
                <!---->취소</button>
            <button data-v-20393a82="" type="submit" class="btn frip-button button btn-frip-primary btn-tab">
                <!---->저장</button>
        </div>
    </form>
</div>
</body>
</html>